.card {
    border-radius: 5px;
    font-size: 0.68rem;
    margin: 0.5rem;
    border: solid;    
    margin-left: 1.5rem;
    flex-wrap: wrap;
}

.bottom {
    display: flex;
    border: solid;
}


.ima1 {
    width: 100%;
    border-radius: 5px;
}

.head {

    margin-top: 0.25rem;
    font-family: cursive;
    color: lightslategray;
}

.rate {
    margin-top: 1rem;
    padding-bottom: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.right {
    margin-left: 0.5rem;
}

.ima>img {
    width: 6rem;
    margin-left: -0.70rem;
}